<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jstu.dao.MakeTeaMapper" >
  <resultMap id="BaseResultMap" type="com.jstu.model.MakeTea" >
    <id column="essayid" property="essayid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    essayid, title, author, date, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maketea
    where essayid = #{essayid,jdbcType=INTEGER}
  </select>
<!--   查询全部泡茶文章 -->
<select id="selectAll" resultMap="BaseResultMap">
    select *
    from maketea
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maketea
    where essayid = #{essayid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jstu.model.MakeTea" >
    insert into maketea (essayid, title, author, 
      date, content)
    values (#{essayid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jstu.model.MakeTea" >
    insert into maketea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        essayid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        #{essayid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jstu.model.MakeTea" >
    update maketea
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jstu.model.MakeTea" >
    update maketea
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
</mapper>