@CHARSET "UTF-8";
.maindiv{
	width: 70%;
	margin: 0 auto;
}
.maindiv .fulldiv{
	position: relative;
	top:120px;
	outline: none;
}
.maindiv .fulldiv  .mycart{
	color:orange;
	font-size:40px;
	font-weight:bold;
	text-align: center;
	outline: none;
}
.maindiv .fulldiv .carttable{
	border: 1px solid gray;
	border-radius:10px;
	background-color: gray;
	outline: none;
}
.maindiv .fulldiv .carttable th{
	border: 1px solid black;
	text-align: center;
	font-weight:bold;
	color: black;
}
.maindiv .fulldiv .carttable td{
	border: 1px solid black;
	text-align: center;
	font-size:22px;
	font-weight:bold;
	color: black;
}
.maindiv .fulldiv .carttable img{
	width: 100px;
	height: 80px;
}
.maindiv .fulldiv .carttable .cartbox{
	width: 25px;
	height: 25px;
}
.maindiv .fulldiv .carttable .allcheck{
	width: 25px;
	height: 25px;
}
.maindiv .fulldiv .carttable .cartbutton{
	width: 60px;
	height: 30px;
	font-size: 14px;
	background-color:red;
	color: black;
	border:0px solid red;
	border-radius:10px;
	font-weight: bold;
}
.maindiv .fulldiv .carttable .cartbutton:HOVER{
	background-color: black;
	color: red;
}
.maindiv .fulldiv .carttable .balance{
	width: 100px;
	height: 60px;
	font-size: 20px;
	background-color:yellow;
	color: red;
	border:1px solid yellow;
	border-radius:10px;
	font-weight: bold;
}
.maindiv .fulldiv .carttable .balance:HOVER {
	background-color: red;
	color: yellow;
}
.maindiv .fulldiv .carttable .count{
	width:120px;
	background-color: gray;
	color:black;
	font-weight: bold;
	border:0px;
	font-size: 33px;
	}
.maindiv .fulldiv .carttable #goodnum{
	width:70px;
	background-color: gray;
	border: 0px;
	text-align: center;
}
.maindiv .fulldiv .carttable #goodsum{
	width:70px;
	background-color: gray;
	border: 0px;
	text-align: center;
}
.fh5co-section{
	display:block;
}